<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd"> 
       <mvc:annotation-driven/> 
       <mvc:default-servlet-handler/>
	<!-- 把标记了@Controller注解的类转换为bean -->
	<context:component-scan base-package="com.MaikeDun.controller" />
	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean		class="org.springframework.web.servlet.view.InternalResourceViewResolver" 		
	p:prefix="/WEB-INF/jsp/" p:suffix=".jsp" />

	<!-- 定义跳转的文件的前后缀 ，视图模式配置 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 这里的配置我的理解是自动给后面action的方法return的字符串加上前缀和后缀，变成一个 可用的url地址 -->
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 定义文件解释器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置默认编码 -->
		<property name="defaultEncoding" value="utf-8"></property>
		<!-- 上传图片最大大小10M -->
		<property name="maxUploadSize" value="10485760"></property>
	</bean>
  <!-- 注册格式化转换器，因为用到日期转换-->  
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
    </bean>  
    <mvc:annotation-driven conversion-service="conversionService"/>
</beans>